:root {
    --roboto: 'Roboto', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --Segoi: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 100%;
    max-width: 220px;
}

.titulo {
    background-image: linear-gradient(#FFB354, #EE7A3A);
    height: 68px;
    padding: 10px 5px;
    width: 220px;
}

.nav-titulo {
    color: white;
    font-family: var(--roboto);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.logo-imagem {
    height: 258px;
    width: 220px;
}

.menu {
    background-color: #E7E7E7;
}

.menu-item {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 33px;
    list-style: none;
    margin-top: 2px;
    width: 220px;
}

.menu-item:first-child {
    margin-top: -2px;
}

.menu-item a {
    color: #725C5C;
    background-color: #FFFFFF;
    font-size: 15px;
    font-family: var(--quicksand);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
}

.menu-item-ativo {
    border-left-width: 5px;
    border-left-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFB455 0%), to(#ED7839 100%)) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#FFB455 0%, #ED7839 100%) 1 100%;
    -moz-border-image: -moz-linear-gradient(#FFB455 0%, #ED7839 100%) 1 100%;
    -o-border-image: -o-linear-gradient(#FFB455 0%, #ED7839 100%) 1 100%;
    border-image: linear-gradient(to bottom, #FFB455 0%, #ED7839 100%) 1 100%;
    background-color: #FDF1EB;
}

.menu-item-ativo a {
    background-color: #FDF1EB;
}

.section {
    padding-right: 256px;
    min-width: 1146px;
    max-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    background-color: #FDF1EB;
    padding-right: 1.5rem;
}


.cabecalho-p {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #725C5C;
}

.cabecalho-titulo {
    font-family: var(--roboto);
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    color: #725C5C;
}

.cabecalho-subtitulo {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #725C5C;
}

.idioma-botao {
    width: 97px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #333333;
}

.idioma-imagem {
    width: 22px;
    color: #333333;
}

.idioma-dropdown {
    width: 6px;
    height: 4px;
    color: #333333;
}

.usuario {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.usuario-bemvindo {
    font-family: var(--quicksand);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: right;
    color: #333333;
}

.usuario-email {
    font-family: var(--quicksand);
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
    align-self: right;
    color: #333333;
}

.usuario-imagem {
    width: 30.3px;
    height: 30.63px;
    border: 1px solid #F5F5F5;
    margin-left: 2%;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 256px;
}


.main-section {
    display: flex;
}

.video-section {
    max-width: 784px;
    position: relative;
}

.section-video-titulo {
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    color: #ED7839;
    letter-spacing: 0.05em;
    padding-bottom: 20px;
    width: 145%;
}

.video-texto {
    width: 750px;
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: 900;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    position: absolute;
    margin: 25px;
    z-index: 1;
}

.video-foto {
    max-height: 439px;
    max-width: 784px;
    margin-top: 3px;

}

.video-overlay {
    position: absolute;
    z-index: 0;
    max-height: 439px;
    max-width: 784px;
    margin-top: 3px;

}

.video-pessoa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    position: absolute;
    bottom:80px;
    right: -25px;
}

.video-imagem {
    margin-right: 15px;
}

.video-nome {
    font-family: var(--roboto);
    font-size: 34px;
    font-weight: 900;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.video-subtitulo {
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.test2{
    margin-left: 5%;;
}

.botao {
    background-color: #ED7839;
    height: 31px;
    width: 43px;
    border: 1px solid #ED7839;
    border-radius: 4px;
    margin-right: 5px;
}

.download {
    width: 120px;
    color: #FFFFFF;
}

.download span {
    margin-left: 5px;
}

.detalhes-detalhes {
    align-items: center;
    text-align: left;
    max-width: 242px;
    min-height: 439px;
    border: 1px solid #ECECEC;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detalhes-detalhes::-webkit-scrollbar {
    width: 3px;
    
}

.detalhes-detalhes::-webkit-scrollbar-track {
    background: #BFBFBF;

}

.detalhes-detalhes::-webkit-scrollbar-thumb {
    background-color:#E7E7E7;
    border-radius: 5px;
}

.detalhes-subtitulo {
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #ED7839;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 2px;
}

.detalhes-titulo {
    font-family: var(--roboto);
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    background-color: #FDF1EB;
    border: 1px solid #ECECEC;
    width: 242px;
    height: 45px;
    color: #4E4E4E;
    padding-left: 10px;
    padding-top: 8px;
}

.detalhes-texto {
    font-family: var(--quicksand);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 10px;
}

.detalhes-lista-autores-subtitulo {
    padding-top: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    padding-left: 5%;
    padding-bottom: 7px;
}

.detalhes-lista-autores-li {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    padding-left: 5%;
    padding-top: 5px;
    margin-bottom: -5px;
}

.detalhes-lista-universidades {
    padding-top: 30px;
    font-family: var(--quicksand);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #ADA0A0;
    padding-left: 5%;
    
}
.detalhes-lista-universidades-li{
    padding-bottom: 10px;
}

li {
    list-style: none;
    padding-bottom: 3px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    margin-left: 55%;
}

.main-section {
    width: 1242px;
}

/* RESUMO */

.resumo {
    width: 1028px;
}

.resumo-titulo{
width: 1162px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
color: #4E4E4E;
background-color:#FDF1EB;
border: 1px solid #ECECEC;
height: 45px;
padding-left:2%;
}

.resumo-texto {
width: 1162px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
color: #5C5C5C;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
border: 1px solid #ECECEC;
max-height: 1382px;
padding: 2%;
}

.btnLerMais {
    background:none;
    border:none;
    color:#ED7839;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
}
#mais{
    display: none;
}


@media only screen and (max-width: 1412px) {
    .section {
        min-width: calc(100% + 256px);
    }
}